[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=code1
Group=code1

WorkingDirectory=/home/code1/anume1/
Environment="PYTHONPATH=/home/code1/anume1/"
ExecStart=/home/code1/anume1/anumevenv/bin/python /home/code1/anume1/bott.py

[Install]
WantedBy=multi-user.target
